@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Rasmussen.Models.HeaderNavModel




<nav class="offcanvas-nav offcanvas-nav--mmenu" id="offcanvas-nav--mmenu" role="navigation">
    <div class="offcanvas-nav__container">

        <ul class="offcanvas-nav__list offcanvas-nav__list--level1" role="menu">
            <li class="offcanvas-nav__item offcanvas-nav__item--level1" role="menuitem">
                @Html.Raw(Model.Body)
                
            </li>
              @foreach (var columns in Model.MultipleContentCards)
              {
            <li class="offcanvas-nav__item offcanvas-nav__item--level1" role="menuitem" >
             
                @Html.Sitecore().Field("Body", columns.ParentCard)
                   
                    <ul class="offcanvas-nav__list offcanvas-nav__list--level2" role="menu">
                        <li class="offcanvas-nav__item offcanvas-nav__item--level2" role="menuitem">
                            @Html.Sitecore().Field("Footer", columns.ParentCard)
                        </li>
                       @foreach (var row in columns.ChildCardlist)
                       {
                        <li class="offcanvas-nav__item offcanvas-nav__item--level2" role="menuitem">
                            @Html.Sitecore().Field("Footer", row)
                           
                            @Html.Sitecore().Field("Body", row)
                        </li>
                       } 
                        
                    </ul>
                   
                   
                
            </li>
               }
            @Html.Raw(Model.SubHeading)
            
      </ul>
        <ul class="offcanvas-nav__list offcanvas-nav__list--level1 offcanvas-nav__list--alternate" role="menu">
            @Html.Raw(Model.Footer)
            
        </ul>
    </div>
</nav>	