@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model Rasmussen.Models.HeaderNavModel

<section class="section locations locations-4col" id="credential-where-take-classes">
    <div class="container">
        <header class="section-header">
            <h1 class="section__headline section__headline--lvl-1 text--centered">@Html.Raw(Model.Title)</h1>
        </header>
        <section class="section-content">
            <section class="accordion accordion-plus">
                @foreach (var columns in Model.MultipleContentCards)
                {
                <div class="accordion__container">
                    <h3 class="accordion-plus__panel" rel="@Url.Content("accordion-location-"+columns.ParentCard.Fields["Title"].Value)">@Html.Sitecore().Field("Title", columns.ParentCard)</h3>
                    <div class="accordion-plus__content" id="@Url.Content("accordion-location-"+columns.ParentCard.Fields["Title"].Value)" >
                        <section class="imageset imageset--4">
                            <ul class="imageset__list">
                            @foreach (var row in columns.ChildCardlist)
                            {
                                <li class="imageset__item">
                                    @Html.Sitecore().Field("Body", row)
                                    <p>@Html.Sitecore().BeginField("CTA", row, new { @class = "cta-inline" })
                                    @Html.Sitecore().EndField()</p>
                                </li>
                                
                            }
                            </ul>
                        </section>
                    </div>
                </div>
                }
            </section>
        </section>
    </div>
</section>