@model Rasmussen.Models.HomeBannerModel

<section class="section skills-gain" id="credential-skills-gain">
    <div class="container">
        <section class="section-column section-column--half">
            <header class="section-header">
                <h1 class="section__headline section__headline--lvl-1">@Html.Sitecore().Field("Heading", Model.Item)</h1>
            </header>
            <section class="section-content">
                @Html.Sitecore().Field("SubHeading", Model.Item)
                
            </section>
        </section>
        <section class="section-column section-column--half">
            <figure class="figure figure--light-on-dark bgc-rsn--support--light">
                <picture>
                    <!--[if IE 9]><video><![endif]-->
                    @if (!String.IsNullOrEmpty(@Model.BackgroundImageurl_850))
                    {
                        <source srcset="@Url.Content(@Model.BackgroundImageurl_850)" media="(min-width: 1600px)">
                    }
                    @if (!String.IsNullOrEmpty(@Model.BackgroundImageurl_640))
                    {
                        <source srcset="@Url.Content(@Model.BackgroundImageurl_640)" media="(min-width: 1200px)">
                    }
                    @if (!String.IsNullOrEmpty(@Model.BackgroundImageurl_480))
                    {
                        <source srcset="@Url.Content(@Model.BackgroundImageurl_480)" media="(min-width: 760px)">
                    }
                    @if (!String.IsNullOrEmpty(@Model.BackgroundImageurl_850))
                    {
                        <source srcset="@Url.Content(@Model.BackgroundImageurl_850)" media="(min-width: 640px)">
                    }
                    @if (!String.IsNullOrEmpty(@Model.BackgroundImageurl_640))
                    {
                        <source srcset="@Url.Content(@Model.BackgroundImageurl_640)" media="(min-width: 480px)">
                    }
                    @if (!String.IsNullOrEmpty(@Model.BackgroundImageurl_480))
                    {
                        <source srcset="@Url.Content(@Model.BackgroundImageurl_480)" media="(min-width: 0px)">
                    }
                    
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="" alt="" data-object-fit="cover">
                </picture>
                @Html.Sitecore().Field("Body", Model.Item)
               
        </section>
    </div>
</section>